@font-face {
	font-family: 'CitizenOT-Light';
	src: url(../../assets/fonts/CitizenOT-Light-f5eb7b1e09c044e742d5f035f7f042ca.woff) format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}